*.class
.classpath
.gradle/*
.project
.settings/*
build/*
# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/bin/
/out/
/.gradle/
/build/
.idea/*
*.iml       
/node_modules
/.sass-cache
/src/main/resources/static/minjs
/gradle/
/gradlew
/gradlew.bat
*.hbs.js
src/main/resources/static/css/style.css
src/main/resources/static/css/style.css.map
src/main/resources/static/css/style.min.css
src/main/resources/static/offline/*
